<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blaupausen Würfler - System Matters </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>

<form method="POST" class="container">

    <a href="/search" class="search">Zur Suchauswahl</a> | <a href="/links" class="search">Zur Linkübersicht</a>
    <h1>System Matters Blaupausen Würfler</h1>
    <select class="center" name="tables" id="tables">
        {% for o in option_list %}
        <optgroup label="{{o}}">
            {% for table in option_list[o] %}
            {% if selected['selected'] == table %}
            <option value="{{table}}" selected>{{table}}</option>
            {% else %}
            <option value="{{table}}">{{table}}</option>
            {% endif %}
            {% endfor%}
        </optgroup>
        {% endfor %}
    </select>


    <br>
    <input class="center" type="submit" name="action" value="Würfeln!">
    <br>
    <div class="textarea">{% if text %}
        {{text|safe}}
        {% else %}Tabelle wählen und Würfeln!{% endif %}
    </div>
    <p class="back">{% if misc %}
        {{misc|safe}}{% endif %}</p>
    <hr>
    <p class="misc">Letztes Update: {{last_update}}</p>
    <hr>
    <a href="https://www.nightmaresundertrees.de/informationen-anmerkungen-zum-system-matters-blaupausen-wuerfler/"
       class="misc">Anmerkungen</a> |
    <a href="https://www.nightmaresundertrees.de/impressum/" class="misc">Impressum</a></form>
</body>
</html>